<!DOCTYPE html>
<html>
<head>
	<title> Student details Form</title>
		
</head>
<body>					
        <form action="http://localhost:9000/check" method="POST">
                
        <h1> Add student details </h1>
                        
        Name: <input type="text" name="name" id="name"
        placeholder="Name" required /><br>
                        
        Age: <input type="number" name="contact" id="contact"
        placeholder="Contact" required /><br>
                        
        Marks1 :<input type="number" name="marks1"
        id="marks1" placeholder="marks1 " required/><br>

        Marks2 :<input type="number" name="marks2"
        id="marks2" placeholder="marks2 " required/><br>
                        
        <button >Submit</button><br>
                
        </form>
</body>
</html>	
